ion-note {
  color: color($colors, primary) !important;
  font-size: 1.4rem !important;
}

   button[ion-fab] {
        overflow: visible;
        position: relative;
   		contain: layout;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
    }

.toast-md .toast-wrapper {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        
        margin: auto;
        
        max-width: 700px;
        border-radius: 0px;
        background: transparent;
         
    }

.toast-md .toast-message {
        padding: 12px 0px 12px;
     	font-weight: 500;
        color: #000b8c;
        text-align: center;
    }

.toast-container{
background: transparent;
background-color: #c2d6fc;
border-radius: 150px;
}

.books{
	
background-color: #d6e3ff;	
}


.action-sheet-md .action-sheet-title {
  padding: 11px 16px 17px;
  font-size: 1.8rem;
  text-align: center;
  color: #000000;
}

.action-sheet-md .action-sheet-container {
  padding: .8rem 0;
  background: #fafafa;
}

.action-sheet-md .action-sheet-button {
  position: relative;
  overflow: hidden;
  padding: 0 16px;
  min-height: 4.8rem;
  font-size: 1.6rem;
  text-align: center;
  color: #222;
  background: transparent;
}

.action-sheet-md .action-sheet-button.activated {
  background: #f1f1f1;
}

.action-sheet-md .action-sheet-icon {
  margin: 0 32px 0 0;
  padding: 0;
  width: 2.3rem;
  font-size: 2.4rem;
  text-align: center;
  vertical-align: middle;
}

.card-background-page1 {

  
    position: relative;
    text-align: left;
    background-color: #9bb8f7;
  }

  .card-title {
    position: absolute;
    top: 37%;
    font-size: 2.0em;
    width: 85%;
    font-weight: bold;
    color: #02002D; 
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 70%;
    width: 85%;
    color: #02002D;

    }

  