page-help {
.swiper-pagination-bullet-active {
    background: #A713E8;

  }

.about-header {
  background-color: transparent;

}

.aa {
  background-color: transparent;

}

.about-header img {
  max-width: 200px;
  min-height: 200px;
  margin-left: 0px;
  padding: 0px 0 0px 0;
}

.h1{
  margin:0;
  top: 15%;
}



}
